.Error-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Error{

    position: relative;
    width: 50%;
    height: 25px;
    color: darkred;
    border: 1px solid darkred;
    background-color: pink;
}

.Error-Close{
    margin-left: 25px;
    border: none;
    color: darkred;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}