.track-container {
    display: flex;
    flex: 1 0 auto;
    height: 100vh;
  }
  
  .track {
    position: relative;
    flex: 0 0 calc(100% / 7);
  }

.note {
    position: absolute;
    opacity: 0;
    width: 150px;
    height: 10px;
    animation: moveDown 5s linear 3s;
}

@keyframes moveDown {
    0% { top: 0px; opacity: 1}
    95% { top: 500px; opacity: 1 }
    100% {top: 550px; opacity: 0}
 }
  

 @keyframes moveDownFade {
    0% { top: -1.5rem; }
    60% { opacity: 1; }
    80% { opacity: 0; }
    98% { top: 100%; opacity: 0; }
    100% { top: 105%; opacity: 0; }
  }
  
  @keyframes fade {
    10% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes scaleFade {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      width: 4rem;
      height: 4rem;
    }
  }
  
  @keyframes scaleBorder {
    100% {
      width: 10rem;
      height: 10rem;
      border: 2px solid transparent;
    }
  }