.SongChallenge{
  height: 100vh;
  width: 100vw;
}

.track-container {
    display: flex;
    flex: 1 0 auto;
  }
  
.track {
  position: relative;
  flex: 0 0 calc(100% / 7);
}

.note {
    position: absolute;
    opacity: 0;
    width: calc(100vw / 7);
    height: 10px;
    animation: moveDown 3s linear 3s;
}

@keyframes moveDown {
    0% { top: 0px; opacity: 1}
    95% { top: 505px; opacity: 1 }
    100% {top: 550px; opacity: 0}
 }
  
 .key-container {
  display: flex;
  flex: 0 0 15%;
  margin-top:510px;
}

.key {
  flex: 0 0 calc(100% / 7);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: center;
  position: relative;
  font-size: 1.6rem;
  height: 100px;
  width: 150px;
  border-top: 1px solid red;
}
/* 
.key--red {
  background: red;
}

.key--blue {
  background: blue;
}

.key--orange {
  background: orange;
} */

.key span {
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-top: .5rem;
}

.key__hit {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  background: purple;
  opacity: 0;
  border-radius: 50%;
  animation: scaleFade 1s;
}

.key__hit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid purple;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: scaleBorder 1s;
}

@keyframes scaleFade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 4rem;
    height: 4rem;
  }
}

@keyframes scaleBorder {
  100% {
    width: 10rem;
    height: 10rem;
    border: 2px solid transparent;
  }
}