.Outfit-Equipped{
    display: inline-flex;
}

.Outfit-Item{
    display: grid;
    margin: 0px 15px;
}

.Graduate-Details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    background-color: rgba(243, 144, 176, 0.9);
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 15px;
}
.Graduate-Details:active{
    background-color: rgba(243, 144, 176, 0.5);
}