.CharacterCard{
     background: white;
     border: 2px solid black;
     border-radius:10px;
     height:350px;
     width:250px;
     display: inline-flex;
     margin: 5px;
}

.CharacterCardSmall{
     border: 1px solid black;
     border-radius:2px;
     height:140px;
     width:100px;
     display: inline-flex;
     margin: 5px;
}

.CharacterCardDetails {
     display: block;
     width: 100%;
}

.CharacterCardDetails h1 {
     float: left;
     padding-left: 5px;
}
.CharacterCardDetails h3, .CharacterCardDetails h5 {
     text-align: center;
}

.SSR {
     border: 2px solid gold;
     box-shadow: 0 0 4px orangered;
     animation: pulse 2s infinite;
}

.CardInTeam{
     background-color: gray;
}

.MovingCard{
     background-color: red;
     color: white;
}

@keyframes pulse {
	0% {
		transform: scale(0.97);
		box-shadow: 0 0 0 0 rgba(255, 20, 147, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 20, 147, 0);
	}

	100% {
		transform: scale(0.97);
		box-shadow: 0 0 0 0 rgba(255, 20, 147, 0);
	}
}


span{
     font-weight: bold;
}
.hp{
     color: green;
}
.atk{
     color: red;
}
.def{
     color: blue;
}

.Star{
     font-size: 24px;
     float: left;
     margin-top: 5px;
     margin-left: 5px;
     z-index: 100;
}

.Star-Like{
     color: orange;
}

.CardSaved{
     background-color: rgb(243, 144, 176, 0.3);
     border: 2px solid rgb(243, 144, 176);
}


.CharacterCard-Modal{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
     height: 250px;
     width: 400px;
     border-radius: 15px;
}

.CharacterCard-Modal h1{
     text-decoration: underline;
}

.CharacterCard-Modal button{
     height: 50px;
     width: 100px;
     margin: 5px;
     border-style: none;
     font-size: 18px;
     background-color: rgb(243, 144, 176, 0.9);
     color: white;
}