.GearCard{
    background: white;
    border: 2px solid black;
    border-radius:10px;
    min-height:215px;
    width:160px;
    display: inline-flex;
    margin: 5px;
}

.GearCardDetails{
    display: block;
    width: 100%;
}

.Rarity{
    margin-left: 20px;
}

.Potential{
    font-size: 24px;
    float: right;
    margin-right: 5px;
    z-index: 100;
}

.GearCardSmall{
    background: white;
    border: 2px solid black;
    border-radius:10px;
    height:100px;
    width:100px;
    display: inline-flex;
    margin: 5px;
}

.GearCardSmall .Rarity{
    font-size: 24px;
    float: left;
    margin: 0;
}

.GearCardSmall h3{
    font-size: 12px;
    margin-top: 20px;
}

.GearCardSmall .GearEffect{
    font-size: 12px;
    margin-top: -15px;
}