.Button {
     display: inline-block;
     text-align: center;
     margin: 15px;
     margin-bottom: -25px;
}

.Button button {
     color:white;
     font-size: calc(12px + 2vw);
     font-style: bold;
     max-width: 350px;
     min-width: 135px;
     width: 27vw;
     height: 75px;
     border-radius: 15px;
     background: rgb(253, 220, 73);
     border: 2px solid rgb(255, 255, 255);
}

.Button button:hover {
     background: rgb(212, 174, 1);
}