.NavBar {
    background-image: linear-gradient(rgb(243, 144, 176), white);
}

.NavBar__Links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar__Link{
    margin: 5px;
}