.BannerContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.Banner{
    height: 600px;
    width: 1000px;
    object-fit: contain;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086)
}

.BannerContents{
    position: absolute;
    width: 1000px;
    bottom: 0;
    text-align: center
}

.Banner h1{
    font-size: 54px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin: 0;
}